.card {
    
    background-color: rgb(202, 93, 20);
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px;
    height: 350px;
    width: 250px;

}

.img-container {
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 80px;
    
}

.img-producto-detail {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-container:hover {
    transform: scale(1) translate(5px, 2px );
    cursor: pointer;
}

.nombre-articulo {
    font-size: 25px;  
    
}

.precio-articulo {
    font-size: 25px;
    position: absolute;
    top: 75%;
    z-index: 5;
}

.info-articulo {
    position: absolute;
    top:-87%;
    left: 100%;
    text-align: justify;
    background-color: aquamarine;
    padding: 25px 15px 505px;
    border-radius: 5px;
    border-color: black;
    border-style: dashed;
    margin-top: 304PX;
    margin-left: 20PX;
    height: 500px;
    width: 250px;
}

.detail-container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 40%;
}

.confirmar-buttom-container {
    border-radius: 5px;
    width: 250.5px;
    background-color: rgb(202, 93, 20);
    position: absolute;
    top: 83%;
    left: -0.5%; 
    padding: 15px 65px; 
    margin-top: 10px;
    z-index: 5;
    
     
} 

.confirmar-buttom {
    background-color: rgb(236, 231, 231);
    border-radius: 5px;
    padding-left: 15px;
    display: flex;
    
}

.button-container {
    display: flex;
    border-radius: 5px;
    
}

.metodos-container {
    background-color: rgb(202, 93, 20);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -3px;
    border-radius: 5px;
    position: absolute;
    top: 110%;
    
    
}

.metodos-compra {
    border-radius: 5px;
    width: 50%;
    
}

.quantity {
    border-radius: 5px;
    padding-left: 79px;
    padding-right: 79px;
}
