*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    background-color: brown;
    padding:20px;
    position: absolute;
    margin-top: 0;
}

ul.links {
    
    background-color: aquamarine;
    font-size: 27px;
    list-style-type: none;
    margin-left: 150px;
    padding-top: 40px;
    padding-bottom: 30px;   
}

a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding-left: 20px; 
}

a:hover {
    transform: scale(1) translate(10px, 5px );
    color: rgba(69, 27, 27, 0.781);
       
}


.carrito {
    background-color: cadetblue;
    padding: 12px 5px;
    border-radius: 5px;
    position: absolute;
    top: 4%;
    right: 2%;
}



