*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar-conteiner {
    background-color: aquamarine;
    text-align: center;
    padding-bottom: 10px;
}

.titulo {
    font-size: 60px;
    background-color: rgb(202, 93, 20);
    border-radius: 5px;
    padding:20px;
    position: absolute;
    margin: 5px 5px;
}

ul.links {
    
    font-size: 27px;
    list-style-type: none;
    margin-left: 150px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 30px;   
}

a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding-left: 20px; 
}

a:hover {
    transform: scale(1) translate(10px, 5px );
    color: rgba(69, 27, 27, 0.781);
       
}
