*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar-container {
    background-color: aquamarine;
    text-align: center;
    
    
}

.nav-active {
    font-weight: bold;
}

.titulo {
    
    font-size: 30px;
    background-color: rgb(202, 93, 20);
    border-radius: 5px;
    padding:20px;
    position: absolute;
    top: 0%;
    margin: 5px 5px;
}

ul.links {
    
    font-size: 27px;
    list-style-type: none;
    margin-left: 150px;
    padding-bottom: 20px;   

}

a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding-left: 20px; 
}

a:hover {
    
    color: rgba(69, 27, 27, 0.781);
       
}