.bubble {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    color: rgb(41, 26, 3);
    width: 1rem;
    height: 1rem;
    padding: 12px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.421);
    border-style: dashed;
    cursor: pointer;
}


.bubble-button:hover {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.bubble-remove {
    border-radius: 5px;
    position: relative;
    bottom: 5%;
    left: 4.5%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    color: rgb(41, 26, 3);
    width: 6rem;
    height: 1rem;
    padding: 12px;
    border-color: rgba(0, 0, 0, 0.421);
    border-style: outset;
    cursor: pointer;
    
}

.bubble-quantity {
    position: relative;
    left: -4%;
    bottom: 15%;
    font-size: 18px;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: aquamarine;
    color: rgb(41, 26, 3);
    width: 6rem;
    height: 1rem;
    padding: 12px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.421);
    border-style: outset;
    cursor: pointer;
}

.card-cart {
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.421);
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px;
    height: 300px;
    width: 75%;
}

.precio-articulo-cart {
    position: relative;
    bottom: 10%;
    font-size: 25px;
    padding-left: 50px;
    
    
}

.nombre-articulo-cart {
    text-align: center;
    font-size: 25px;
    
}

.articulo-name {
    background-color: rgb(202, 93, 20);
    border-radius: 5px;
    padding: 5px;
}

.img-product-detail-cart {
    
    background-color: white; 
    border-radius: 5px;
    width: 50%;
    object-fit: contain;
}

.info-cart {
    align-items: center;
}

.img-container-cart {
    position: relative;
    padding-right: 375px;
    right: 10%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    object-fit: contain;
    margin-left: 100px;
    
}

.img-producto-cart {
    width: 25%;
    height: 100%;
    object-fit: contain;
}